[class*="col-"] {
  float: left;
  min-height: 1px;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.6%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

.col-offset-0 {
  margin-left: 0;
}

.col-offset-1 {
  margin-left: 8.33%;
}

.col-offset-2 {
  margin-left: 16.66%;
}

.col-offset-3 {
  margin-left: 25%;
}

.col-offset-4 {
  margin-left: 33.33%;
}

.col-offset-5 {
  margin-left: 41.66%;
}

.col-offset-6 {
  margin-left: 50%;
}

.col-offset-7 {
  margin-left: 58.33%;
}

.col-offset-8 {
  margin-left: 66.66%;
}

.col-offset-9 {
  margin-left: 75%;
}

.col-offset-10 {
  margin-left: 83.33%;
}

.col-offset-11 {
  margin-left: 91.66%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
}

/*Start of main section*/
.main {
  height: 800px;
  width: 100%;
}

.fixed {
  position: fixed;
  width: 50px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 11;
}
.fixed .point {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ed145b;
  position: relative;
  z-index: 1;
}
.fixed .point:hover {
  cursor: pointer;
}
.fixed .go-back {
  position: absolute;
  left: -35px;
  color: #ffff;
  max-height: 60px;
  max-width: 130px;
  font-size: 25px;
  font-family: "Lato";
  letter-spacing: 1.15px;
  background-color: transparent;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  background-color: #444444;
  border: 1px solid #ed145b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0.0;
  z-index: 10;
}
.fixed .go-back:hover {
  opacity: 1;
  -webkit-transition: 1s;
  transition: 1s;
}
.fixed .go-back a {
  text-decoration: none;
  color: #ffff;
}
.fixed .go-back .go-back-arrow {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid white;
  margin-left: 10px;
}

.hero {
  height: 100%;
  width: 100%;
  background-image: url(../images/hero.jpg);
  background-size: cover;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
}
.menu .nav-buttons {
  width: 70%;
  color: #ffff;
  font-size: 18px;
  font-family: "Lato";
  letter-spacing: 0.4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.menu .nav-buttons ul li {
  display: inline-block;
  padding: 0 10px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.menu .nav-buttons ul li a {
  text-decoration: none;
  color: #ffff;
}
.menu .logo {
  width: 30%;
  padding: 10px 0;
  color: #ffff;
  font-size: 25px;
  font-family: "Lato";
  letter-spacing: 1.15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.slogan {
  height: calc(800px - 101px);
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.slogan h1 {
  text-transform: uppercase;
  color: #ffff;
  font-size: 46px;
  font-family: "Lato";
  font-weight: 300;
  letter-spacing: 1.15px;
  line-height: 24px;
  padding-bottom: 20px;
  position: relative;
  bottom: 50px;
}
.slogan .line {
  width: 200px;
  height: 2px;
  background-color: #ed145b;
  position: relative;
  bottom: 50px;
}
.slogan p {
  padding-top: 20px;
  color: #ffff;
  font-size: 22px;
  font-family: "Lato";
  text-align: center;
  position: relative;
  bottom: 50px;
}
.slogan button {
  width: 200px;
  height: 50px;
  border-radius: 25px;
  border: 1px solid #ed145b;
  background-color: #ed145b;
  color: #ffff;
  font-family: "Lato";
  font-weight: bold;
  position: relative;
  bottom: 50px;
  margin-top: 66px;
}
.slogan button:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 1s;
  transition: 1s;
}

/* End of main section */
/*Start of PSD section*/
.PSD {
  width: 100%;
  height: 700px;
  margin: 0;
  background-color: #f4f4f4;
}
.PSD .pink-line {
  height: 50px;
  width: 100%;
  background-image: url(../images/line.jpg);
  background-repeat: no-repeat;
  background-position: 0 -38px;
  background-color: #f4f4f4;
}
.PSD .PSD-text {
  height: 650px;
  width: 60%;
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 350px;
}
.PSD .PSD-text h1 {
  font-size: 45px;
  font-family: "Lato";
  font-style: italic;
  font-weight: 400;
  letter-spacing: 0.95px;
  text-align: left;
}
.PSD .PSD-text .line {
  width: 200px;
  height: 2px;
  background-color: #ed145b;
  margin-bottom: 20px;
  margin: 20px 0 30px 0;
}
.PSD .PSD-text p {
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0.38px;
}
.PSD .PSD-text h2 {
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 0.38px;
  color: #ed145b;
  padding-top: 20px;
}
.PSD .PSD-text i {
  font-size: 30px;
}
.PSD .PSD-text i:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 1s;
  transition: 1s;
}
.PSD .PSD-image {
  height: 650px;
  width: 40%;
  float: left;
  background-image: url(../images/macbook.jpg);
  background-repeat: no-repeat;
  background-position: 10px 60px;
}
.PSD .PSD-image .PSD-image-inside {
  width: 100%;
  height: 650px;
  background-image: url(../images/macbook-inside.jpg);
  background-repeat: no-repeat;
  background-position: 130px 100px;
}

/*End of PSD section*/
/*Start of services section*/
.services {
  width: 100%;
  height: 650px;
}
.services .services-header {
  height: 325px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
.services .services-header h1 {
  font-family: "Lato";
  font-size: 38px;
  font-style: italic;
  letter-spacing: 0.95px;
  color: #5a5a5a;
  font-weight: 400;
}
.services .services-header .line {
  width: 200px;
  height: 2px;
  background-color: #ed145b;
  margin-bottom: 20px;
  margin: 20px 0 30px 0;
}
.services .services-header p {
  font-size: 15px;
  font-family: "Lato";
  letter-spacing: 0.38px;
  color: #5a5a5a;
  font-weight: 300;
}
.services .services-icons {
  height: 325px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
}
.services .services-icons .circle {
  height: 140px;
  width: 140px;
  border-radius: 50%;
  border: 2px solid black;
  position: relative;
  bottom: 40px;
}
.services .services-icons .circle:hover {
  cursor: pointer;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 1s;
  transition: 1s;
}
.services .services-icons .circle p {
  position: absolute;
  bottom: -40px;
  left: -5px;
  width: 145px;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.38px;
  color: #ed145b;
}
.services .services-icons .circle img {
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

/*End of services section*/
/*Start of carousel section*/
.carousel {
  background-color: #444444;
  position: relative;
}
.carousel .carousel-text {
  position: absolute;
  width: 100%;
  height: 501px;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.carousel .carousel-text .quote1 {
  width: 65px;
  height: 50px;
  font-size: 158px;
  font-family: 'Droid Serif';
  font-weight: 700;
  font-style: bold;
  letter-spacing: 3.95px;
  color: #ed145b;
  background-color: transparent;
  position: absolute;
  top: 250px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.carousel .carousel-text .quote2 {
  width: 65px;
  height: 50px;
  font-size: 158px;
  font-family: 'Droid Serif';
  font-weight: 700;
  font-style: bold;
  letter-spacing: 3.95px;
  color: #ed145b;
  background-color: transparent;
  position: absolute;
  bottom: 250px;
}
.carousel .carousel-text p {
  font-size: 25px;
  letter-spacing: 0.63px;
  font-family: "Lato";
  font-style: italic;
  font-weight: 400;
  color: #ffff;
}

#carousel {
  width: 100%;
  height: 501px;
  overflow: hidden;
  margin: 0 auto;
  padding: 0;
  position: relative;
}
#carousel .arrowL {
  width: 5%;
  height: 501px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  z-index: 2;
}
#carousel .arrowL .arrow-left {
  width: 0;
  height: 0;
  border-top: 22px solid transparent;
  border-bottom: 22px solid transparent;
  border-right: 22px solid #444444;
}
#carousel .arrowL .arrow-left:hover {
  cursor: pointer;
}
#carousel .arrowR {
  width: 5%;
  height: 501px;
  position: absolute;
  left: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  z-index: 2;
}
#carousel .arrowR .arrow-right {
  width: 0;
  height: 0;
  border-top: 22px solid transparent;
  border-bottom: 22px solid transparent;
  border-left: 22px solid #444444;
}
#carousel .arrowR .arrow-right:hover {
  cursor: pointer;
}
#carousel ul {
  list-style-type: none;
  width: 2000px;
  margin: 0 auto;
  padding: 0;
}
#carousel ul li {
  float: left;
}
#carousel ul li img {
  width: 100%;
}

/*End of carousel section*/
/*Start of Our-prices section*/
.Our-Prices {
  width: 100%;
  height: 999px;
  background-color: #f4f4f4;
}
.Our-Prices .Our-Prices-text {
  height: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
}
.Our-Prices .Our-Prices-text h1 {
  font-size: 38px;
  letter-spacing: 0.95px;
  font-family: "Lato";
  font-weight: 400;
  color: #5a5a5a;
  font-style: italic;
  padding-top: 120px;
}
.Our-Prices .Our-Prices-text .line {
  width: 200px;
  height: 2px;
  background-color: #ed145b;
  margin-bottom: 20px;
  margin: 20px 0 30px 0;
}
.Our-Prices .Our-Prices-text p {
  font-family: "Lato";
  font-size: 15px;
  font-weight: 300;
  color: #5a5a5a;
  letter-spacing: 0.38px;
}
.Our-Prices .Buy-Now {
  height: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 0 275px 0 275px;
}
.Our-Prices .Buy-Now .packages {
  width: 262px;
  height: 460px;
  background-color: #ffff;
}
.Our-Prices .Buy-Now .packages .package-price {
  background-color: #5a5a5a;
  width: 100%;
  height: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  position: relative;
}
.Our-Prices .Buy-Now .packages .package-price .dolar {
  font-size: 20px;
  letter-spacing: 0.5px;
  font-family: "Lato";
  font-style: bold;
  font-weight: 700;
  color: #f4f4f4;
  position: absolute;
  top: 59px;
  left: 85px;
}
.Our-Prices .Buy-Now .packages .package-price h1 {
  font-family: "Lato";
  font-style: bold;
  letter-spacing: 1.25px;
  font-size: 50px;
  font-weight: 700;
  color: #f4f4f4;
  margin-bottom: 50px;
}
.Our-Prices .Buy-Now .packages .package-price .per-month {
  font-family: "Lato";
  font-style: bold;
  letter-spacing: 0.38px;
  font-size: 15px;
  font-weight: 700;
  color: #f4f4f4;
  position: absolute;
  top: 87px;
  left: 85px;
}
.Our-Prices .Buy-Now .packages .package-price-pink {
  background-color: #ed145b;
  width: 100%;
  height: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  position: relative;
}
.Our-Prices .Buy-Now .packages .package-price-pink .dolar {
  font-size: 20px;
  letter-spacing: 0.5px;
  font-family: "Lato";
  font-style: bold;
  font-weight: 700;
  color: #f4f4f4;
  position: absolute;
  top: 59px;
  left: 85px;
}
.Our-Prices .Buy-Now .packages .package-price-pink h1 {
  font-family: "Lato";
  font-style: bold;
  letter-spacing: 1.25px;
  font-size: 50px;
  font-weight: 700;
  color: #f4f4f4;
  margin-bottom: 50px;
}
.Our-Prices .Buy-Now .packages .package-price-pink .per-month {
  font-family: "Lato";
  font-style: bold;
  letter-spacing: 0.38px;
  font-size: 15px;
  font-weight: 700;
  color: #f4f4f4;
  position: absolute;
  top: 87px;
  left: 85px;
}
.Our-Prices .Buy-Now .packages .package-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.Our-Prices .Buy-Now .packages .package-type span {
  width: 200px;
  height: 50px;
  border-radius: 25px;
  background-color: #f4f4f4;
  position: absolute;
  top: -28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 15px;
  font-weight: 700;
  font-style: bold;
  font-family: "Lato";
  color: #5a5a5a;
}
.Our-Prices .Buy-Now .packages .package-type p {
  font-family: "Lato";
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.38px;
  color: #5a5a5a;
}
.Our-Prices .Buy-Now .packages .package-type p:first-of-type {
  margin-top: 55px;
}
.Our-Prices .Buy-Now .packages .package-type p:last-of-type {
  margin-bottom: 40px;
}
.Our-Prices .Buy-Now .packages .package-type button {
  background-color: #ed145b;
  width: 200px;
  height: 50px;
  border-radius: 25px;
  border: none;
}
.Our-Prices .Buy-Now .packages .package-type button a {
  text-decoration: none;
  color: #ffff;
  font-size: 15px;
  font-weight: 700;
  font-style: bold;
  font-family: "Lato";
}

.adventages {
  width: 100%;
  height: 601px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 150px;
}
.adventages div {
  width: 346px;
  height: 115px;
  margin: 40px;
}
.adventages div h1 {
  color: #ed145b;
  font-family: Lato;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  letter-spacing: 0.38px;
  margin: 0;
}
.adventages div p {
  color: #5a5a5a;
  font-family: Lato;
  font-size: 14px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.38px;
  margin-left: 83px;
}
.adventages div img {
  float: left;
  margin-right: 26px;
}

#join-us {
  width: 100%;
  height: 200px;
  background-color: #ed145b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#join-us p {
  color: #ffffff;
  font-family: Lato;
  font-size: 38px;
  font-weight: 300;
  line-height: 52px;
  text-transform: uppercase;
  font-family: "Lato Light";
  letter-spacing: 0.95px;
}
#join-us .mache-bold {
  font-family: Lato;
  font-weight: 700;
  letter-spacing: 0.95px;
}
#join-us a {
  color: #ed145b;
  font-family: Lato;
  font-size: 15px;
  font-weight: 700;
  line-height: 38px;
  text-transform: uppercase;
  letter-spacing: 0.38px;
  text-decoration: none;
  padding: 41px;
}
#join-us a button {
  width: 200px;
  height: 50px;
  border-radius: 25px;
  background-color: #ffffff;
  text-transform: uppercase;
  border: none;
}
#join-us a button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/*# sourceMappingURL=style.css.map */