[class*="col-"] {
  float: left;
  min-height: 1px;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.6%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

.col-offset-0 {
  margin-left: 0;
}

.col-offset-1 {
  margin-left: 8.33%;
}

.col-offset-2 {
  margin-left: 16.66%;
}

.col-offset-3 {
  margin-left: 25%;
}

.col-offset-4 {
  margin-left: 33.33%;
}

.col-offset-5 {
  margin-left: 41.66%;
}

.col-offset-6 {
  margin-left: 50%;
}

.col-offset-7 {
  margin-left: 58.33%;
}

.col-offset-8 {
  margin-left: 66.66%;
}

.col-offset-9 {
  margin-left: 75%;
}

.col-offset-10 {
  margin-left: 83.33%;
}

.col-offset-11 {
  margin-left: 91.66%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/*Start of main section*/
.main {
  height: 800px;
  width: 100%;
}

.hero {
  height: 100%;
  width: 100%;
  background-image: url(../images/hero.jpg);
  background-size: cover;
}

.menu {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  font-weight: bold;
}

.menu .nav-buttons {
  width: 70%;
  color: #ffff;
  font-size: 18px;
  font-family: "Lato";
  letter-spacing: 0.4px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.menu .nav-buttons ul li {
  display: inline-block;
  padding: 0 10px;
  -ms-flex-align: end;
      align-items: flex-end;
}

.menu .nav-buttons ul li a {
  text-decoration: none;
  color: #ffff;
}

.menu .logo {
  width: 30%;
  padding: 10px 0;
  color: #ffff;
  font-size: 25px;
  font-family: "Lato";
  letter-spacing: 1.15px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.slogan {
  height: calc(800px - 101px);
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
}

.slogan h1 {
  text-transform: uppercase;
  color: #ffff;
  font-size: 46px;
  font-family: "Lato";
  font-weight: 300;
  letter-spacing: 1.15px;
  line-height: 24px;
  padding-bottom: 20px;
  position: relative;
  bottom: 50px;
}

.slogan .line {
  width: 200px;
  height: 2px;
  background-color: #ed145b;
  position: relative;
  bottom: 50px;
}

.slogan p {
  padding-top: 20px;
  color: #ffff;
  font-size: 22px;
  font-family: "Lato";
  text-align: center;
  position: relative;
  bottom: 50px;
}

.slogan button {
  width: 200px;
  height: 50px;
  border-radius: 25px;
  border: 1px solid #ed145b;
  background-color: #ed145b;
  color: #ffff;
  font-family: "Lato";
  font-weight: bold;
  position: relative;
  bottom: 50px;
  margin-top: 66px;
}

.slogan button:hover {
  cursor: pointer;
}

/* End of main section */
/*Start of PSD section*/
.PSD {
  width: 100%;
  height: 700px;
  margin: 0;
}

.PSD .pink-line {
  height: 50px;
  width: 100%;
  background-image: url(../images/line.jpg);
  background-repeat: no-repeat;
  background-position: 0 -38px;
}

.PSD .PSD-text {
  height: 650px;
  width: 60%;
  float: left;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: start;
      align-items: flex-start;
  -ms-flex-direction: column;
      flex-direction: column;
  position: relative;
  bottom: 10px;
  left: 300px;
}

.PSD .PSD-text h1 {
  font-size: 45px;
  font-family: "Lato";
  font-style: italic;
  font-weight: 400;
  letter-spacing: 0.95px;
  text-align: left;
}

.PSD .PSD-text .line {
  width: 200px;
  height: 2px;
  background-color: #ed145b;
  margin-bottom: 20px;
}

.PSD .PSD-text p {
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0.38px;
}

.PSD .PSD-text h2 {
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 0.38px;
  color: #ed145b;
  padding-top: 20px;
}

.PSD .PSD-text i {
  font-size: 30px;
}

.PSD .PSD-text i:hover {
  cursor: pointer;
}

.PSD .PSD-image {
  height: 650px;
  width: 40%;
  float: left;
  background-image: url(../images/macbook.jpg);
  background-repeat: no-repeat;
  background-position: 10px 60px;
}

.PSD .PSD-image .PSD-image-inside {
  width: 100%;
  height: 650px;
  background-image: url(../images/macbook-inside.jpg);
  background-repeat: no-repeat;
  background-position: 130px 100px;
}
/*# sourceMappingURL=style.css.map */